
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
input::-webkit-input-placeholder,
input::-ms-input-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input::placeholder {
  color: rgba(255, 255, 255, 1);
}
input::-moz-placeholder,
input:-moz-placeholder {
  opacity: 1;
}

body {
  background: white;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #85FFE2;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(45deg, #85FFE2, #85ffb6);
  color: #fff;
  padding: 2px 20px 8px 20px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  transition: none;
  z-index: 50;
}

.back-to-top:focus {
  background: linear-gradient(45deg, #85FFE2, #85ffb6);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #85FFE2;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #4F5060;
  padding: 30px 0;
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  filter: drop-shadow(0px 4px 4px #3e3e4b);

  @media (max-width: 768px) {
    height: 60px;
  }
}

#header li{
  padding-right: 100px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  padding: 25px 0;
  height: 70px;
  transition: all 0.5s;

}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.intro {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 40px 88px;
  background-color: #4F5060;
  overflow: hidden;

  &__content {
    max-width: 900px;
    z-index: 2;
  }
  &__title {
    margin: 0;
    font-size: 128px;
    font-weight: 700;
    line-height: 128px;
  }
  &__description {
    margin: 16px 0 0;
    font-size: 32px;
    line-height: 44px;
    color: #00FFC2;
  }
  &__background {
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 100%;
    min-width: 1200px;
    z-index: 1;
  }
  &__link {
    display: inline-block;
    margin-top: 28px;
    color: #00FFC2;
  }

  @media (max-width: 1200px) {
    &__content {
      max-width: 620px;
    }
    &__title {
      font-size: 80px;
      line-height: 80px;
    }
    &__description {
      font-size: 22px;
      line-height: 36px;
    }
    &__background {
      margin-top: -720px;
    }
  }
  @media (max-width: 768px) {
    padding: 84px 16px 24px;

    &__title {
      max-width: 420px;
      font-size: 60px;
      line-height: 64px;
    }
    &__description {
      font-size: 20px;
      line-height: 28px;
    }
  }
  @media (max-width: 540px) {
    justify-content: center;
    padding: 84px 16px 24px;
    text-align: center;

    &__title {
      font-size: 28px;
      line-height: 32px;
    }
    &__description {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

/* Pricing Section
--------------------------------*/
#services {
  min-height: 100vh;
  padding: 60px 0 50px 0;
  background-image: url('./assets/img/service_back.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
}

#services .row{
  padding-top: 40px;
}

#services .box {
  perspective: 900px;
}

#services h3 {
  font-weight: bold;
  /*margin-bottom: 15px;*/
  font-size: 44px;
  padding-top: 10px;
}

#services .get-started-btn {
  background: linear-gradient(45deg, #4dffd4, #07ffc4);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 25px;
  height: 50px;
  width: 100%;
  border: 0;
  /*border-radius: 20px;*/
  color: #4F5060;
  transition: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#services .featured {
  border: 2px solid #4dffd4;
}

#services .featured .get-started-btn {
  background: linear-gradient(45deg, #4dffd4, #07ffc4);
}



.survey {
  background: #4F5060;
  min-height: 100vh;
  padding: 0 16px 96px;

  & h1 {
    font-weight: bold;
    font-size: 44px;
    padding-top: 70px;
    text-align: center;
  }

  @media (max-width: 768px) {

  }
}

#survey h2 {
  /*margin-bottom: 15px;*/
  font-size: 25px;
  padding-bottom: 20px;
  text-align: center;

}

#survey h5 {
  /*margin-bottom: 15px;*/
  font-size: 1rem;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 10px;

}

#survey .form-group{
  /*display: block;*/
  margin: 0 auto;
  max-width: 700px;

}

#survey .add_lbl{
  margin-top: 25px;
}

#survey h3{
  font-size: 16px;
}
#survey h4{
  font-size: 14px;
  color: #888888;
}
#survey a{
  color: #85FFE2;
}
#survey input{
  background-color: #4F5060;
  color: #888888;
  border-color: #85FFE2;
  border-radius: unset;
  /*padding-top: 10px;*/
  height: 40px;
  /*margin-bottom: 12px;*/
  padding-top: 7px;
}

#survey input[type = "text"]:focus {
  color: white;
}

#survey .select{
  position: relative;
}

#survey .select:after {
  content: url('./assets/img/icons/arrowDown.svg');
  display: block;
  border-style: solid;
  border-width: 0px 0px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -9px;
}
#survey .ran{
  /*padding-left: 50px;*/
  /*padding-right: 20px;*/
  /*padding-top: 64px;*/
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#survey .get-started-btn {
  border-color: #85FFE2;
  background: linear-gradient(45deg, #4dffd4, #07ffc4);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 25px;
  margin-left: 25%;
  height: 50px;
  width: 50%;
  /*border-radius: 20px;*/
  color: #4F5060;
  transition: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}


/* Partners Section
--------------------------------*/
#partners {
  padding: 30px 0;
  background: #fff;
  height: 450px;
}

#partners .row{
  align-items: center;
}

#partners h1 {
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 40px;
  font-size: 44px;
  padding-top: 40px;
  text-align: center;
  color: #4F5060;

}

#partners img {
  display:block;
  margin:auto;
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;

}

#partners img:hover {
  opacity: 1;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #4dffd4;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #4dffd4;
}

#mobile-nav ul .menu-item-active {
  color: #4dffd4;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: italic;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #4dffd4;
  background: linear-gradient(0deg, #4dffd4 0%, #4dff94 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: white;
}


/* Contact Section
--------------------------------*/
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4dffd4;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #4dffd4;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #4dffd4;
}

#contact .social-links a:hover {
  background: #4dffd4;
  color: #fff;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #4dffd4;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #4dffd4;
  border: 1px solid #4dffd4;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: linear-gradient(45deg, #4dff8b, #4dffd4);
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
}

#contact .form button[type="submit"]:hover {
  cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #4F5060;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 32px 0;
  color: white;
  font-size: 14px;

  @media (max-width: 900px) {
    .copyright {
      width: 100% !important;
    }
    .cont {
      padding: 0 0 0 20px !important;
      margin: 32px 0 0;
    }
  }

  @media (max-width: 580px) {
    .cont {
      flex-direction: column !important;

      ul {
        margin: 12px 0 0;
        padding: 0;

        li {
          display: block;

          &:nth-child(n+2) {
            margin-top: 8px;
          }
        }
      }
    }
  }
}


#footer li{
  display:inline;
  font-size: 14px;
  padding-right: 40px;
}

#footer .copyright {
  padding-left: 20px;
  margin-right: 130px;
  width: 150px;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

#footer .cont{
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 64px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
#footer .cont-2{
  font-weight: bold;
}


#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}


#footer .footer-links a{
  color: white;
}


#footer .footer-links a:hover {
  color: #4dffd4;
}



.services {
  @media (max-width: 768px) {
    .col-md-6 { margin-top: 20px; }
  }
}

.servicesCard {
  position: relative;
  height: 100%;
}
.servicesCard__front,
.servicesCard__back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px;
  border-radius: 9px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  transition: transform .8s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.servicesCard__backButton {
  position: absolute;
  top: 24px;
  left: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none !important;
}
.servicesCard__backButton::before {
  content: '';
  display: inline-block;
  background: url('./assets/img/icons/back.svg');
  width: 40px;
  height: 23px;
}
.servicesCard__front {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.servicesCard__back {
  transform: rotateY(180deg);
}
.servicesCard_flipped .servicesCard__front { transform: rotateY(180deg); }
.servicesCard_flipped .servicesCard__back { transform: rotateY(360deg); }
.servicesCard__icon {
  display: block;
  margin: 0 auto;
}
.servicesCard__list {
  margin: 32px 0 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.servicesCard__listItem {
  position: relative;
  padding-left: 36px;
  font-size: 20px;
  color: #4F5060;
}
.servicesCard__listItem::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 10px;
  height: 10px;
  background-color: #4F5060;
}
.servicesCard__listItem:nth-child(n+2) {
  margin-top: 20px;
}
.servicesCard__title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #4F5060;
}
.servicesCard__title:nth-child(n+2) {
  margin-top: 48px;
}
.servicesCard__details {
  margin: 8px 0 0;
  font-size: 14px;
  color: #adaeb6;
}
.servicesCard__footer {
  margin-top: auto;
}

.cardBack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 20px;
}
.cardBack__block:nth-child(n+2) {
  margin-top: 16px;
}
.cardBack__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #4F5060;
}
.cardBack__list {
  margin: 8px 0 0;
  padding: 0;
  list-style: none;
}
.cardBack__listItem {
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #4F5060;
}
.cardBack__listItem::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #4F5060;
}
.cardBack__listItem:nth-child(n+2) {
  margin-top: 6px;
}
.cardBack__footer {
  margin-top: 20px;
}
.cardBack__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 440px;
  margin: 0;
  padding: 0 16px;
  border: 1px solid #4F5060;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  color: #4F5060;
  outline: none !important;
}


.scaleOfProblem {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 1px;
    background-color: #85FFE2;
    z-index: 1;
  }

  &__label {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }
  .scaleOfProblem__input {
    display: none;
  }
  &__fakeInput {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #85FFE2;
    background-color: #4F5060;
  }
  &__fakeInput::before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #85FFE2;
  }
  &__input:checked ~ &__fakeInput::before {
    content: '';
  }
  &__number {
    margin-top: 8px;
  }

  @media (max-width: 460px) {
    &::before {
      top: 10px;
    }

    &__fakeInput {
      width: 20px;
      height: 20px;
    }
  }
}

.difficultProblem {
  display: none;
  margin: 24px 0 36px;
  text-align: left;
}
.difficultProblem_visible {
  display: block;
}
.difficultProblem__title {
  margin: 24px 0 0;
  font-size: 24px;
  font-weight: 700;
}
.difficultProblem__list,
.survey__privacyText {
  margin: 16px 0 0;
}
.difficultProblem__list {
  margin: 12px 0 0;
  padding: 0 0 0 28px;
  list-style: none;
}
.difficultProblem__listItem:nth-child(n+2) {
  margin-top: 12px;
}
.difficultProblem__socialIcon {
  width: 22px;
}
.difficultProblem__listText {
  margin-left: 28px;
  font-size: 18px;
}
.survey__formField {
  position: relative;
}
.survey__formField:nth-child(n+2) {
  margin-top: 24px;
}
.survey__formSelect {
  position: relative;
}
.survey__formSelect::after {
  content: url('./assets/img/icons/arrowDown.svg');
  display: block;
  border-style: solid;
  border-width: 0px 0px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -9px;
}
.survey__formSelect select {
  color: #888888;
  border-color: #85FFE2;
  border-radius: unset;
  padding-top: 7px;
  height: 40px;

  display: block;
  background: none; /* убираем фон */
  -webkit-appearance: none;/* Chrome */
  -moz-appearance: none;/* Firefox */
  appearance: none;/* убираем дефолнтные стрелочки */
  outline: none;
}
.survey__formAbsenceButton {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 4px;
  background: linear-gradient(45deg, #4dffd4, #07ffc4);
  width: 123px;
  border: none;
  float: right;
  clear: right;
  height: 20px;
  color: #4F5060;
  transition: none;
  font-size: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.survey__anotherProblem {
  margin-top: 16px;
}

@keyframes modalOverlayIn {
  0% { background-color: rgba(0, 0, 0, 0) }
  100% { background-color: rgba(0, 0, 0, .6) }
}
@keyframes modalOverlayOut {
  0% { background-color: rgba(0, 0, 0, .6) }
  100% { background-color: rgba(0, 0, 0, 0) }
}

@keyframes modalContentIn {
  0% {
    transform: scale(.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}@keyframes modalContentOut {
   0% {
     transform: scale(1);
     opacity: 1;
   }
   100% {
     transform: scale(.6);
     opacity: 0;
   }
 }

.modal {
  display: block !important;
}
.modal__overlay,
.modal__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal__overlay {
  background-color: rgba(0, 0, 0, .6);
  z-index: 1;
  animation: modalOverlayIn .4s ease forwards;
}
.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  z-index: 2;
  pointer-events: none;
}
.modal__content {
  position: relative;
  width: 100%;
  max-width: 860px;
  padding: 56px;
  background-color: #4F5060;
  animation: modalContentIn .4s ease forwards;
  pointer-events: auto;
}
.modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
.modal__close::before,
.modal__close::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 2px;
  background-color: rgba(255, 255, 255, .5);
  transition: background-color .25s ease;
}
.modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__close:hover::before,
.modal__close:hover::after {
  background-color: rgba(255, 255, 255, 1) !important;
}
.modal__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.modal__form {
  max-width: 500px;
  margin: 32px auto 0;
}
.modal__formFooter {
  margin-top: 56px;
}
.modal__formButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 0;
  padding: 0 16px;
  margin: 0;
  background-color: #07ffc4;
  font-size: 18px;
  font-weight: 700;
  color: #4F5060;
  transition: background-color .15s ease;
  outline: none !important;
}
.modal__formButton:hover {
  background-color: #45EDC5 !important;
}
.modal_hide .modal__overlay {
  background-color: rgba(0, 0, 0, 0);
}
.modal_hide .modal__overlay {
  animation: modalOverlayOut .4s ease forwards;
}
.modal_hide .modal__content {
  animation: modalContentOut .4s ease forwards;
}

.form {}
.form__field:nth-child(n+2) {
  margin-top: 20px;
}
.form__label {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.form__input {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 0 16px;
  margin-top: 8px;
  border: 1px solid #85FFE2;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  outline: none;
  transition: border-color .15s ease;
}
.form__input:hover,
.form__input:focus {
  border-color: #45EDC5 !important;
}

.container {
  max-width: 1140px !important;
}