<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WB Analytics</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  {% block header %}
  <header id="header">
<!--    <div class="container">-->

      <nav id="nav-menu-container">
        <ul class="nav-menu">

            <li><img src="{% static 'img/account.png' %}">Личный кабинет</li>

        </ul>
      </nav><!-- #nav-menu-container -->
<!--    </div>-->
  </header><!-- #header -->
  {% endblock %}


  {% block content %}{% endblock %}

  {% block footer %}
  <footer id="footer">
    <div class="container">
      <div class="row">
          <div class="copyright">
            <div class="footer-links">
            <a href="#">Мы объединяем технологии</a>
              </div>
          </div>
        <div class="cont">
            <div class="cont-2">Контакты:</div>
          <div>
                <ul>
                    <li><img src="{% static 'img/mail.png' %}">   wac@wac-tech.ru</li>
                    <li><img src="{% static 'img/phone.png' %}">   + 7 (999) 123 45 67</li>
                </ul>
            </div>
          </div>
      </div>
    </div>
  </footer><!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  {% endblock %}


  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jQuery UI.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jQuery UI Touch Punch.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/aos/aos.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

{% if anchor %}
<script type='text/javascript'>
$(document).ready(function(){
    window.location = '#{{ anchor }}'
});
</script>
{% endif %}

</body>
</html>
