{% extends "base.html" %}
{% block content %}
{% load static %}
<main class="auth">
  <div class="auth__content">
    <form class="auth__form form" data-js="loginForm">
      <div class="form__field">
        <label for="login" class="auth__label form__label">Логин</label>
        <input id="login" type="text" name="login" class="auth__input input" autofocus />
      </div>
      <div class="form__field">
        <label for="password" class="auth__label form__label">Пароль</label>
        <input id="password" type="password" type="password" name="password" class="auth__input input" />
      </div>
      <div class="auth__formFooter">
        <button class="button auth__button" data-js="loginFormButton">
          <span class="auth__buttonText" data-js="loginFormButtonText">Авторизоваться</span>
        </button>
      </div>
    </form>
  </div>
</main>
{% endblock %}